---
name: Swift CI

on:
  pull_request:
    branches:
      - main

env:
  RUST_TOOLCHAIN: stable
  SOLANA_VERSION: "3.0.13"
  CARGO_TARGET_DIR: target-ci

jobs:
  build-test:
    name: Build + Tests + Coverage

    runs-on: macos-latest

    strategy:
      matrix:
        swift: ["6.2"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Select Swift Version
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: ${{ matrix.swift }}

      - name: Cache SwiftPM
        uses: actions/cache@v4
        with:
          path: |
            ~/.swiftpm
            .build
          key: |
            ${{ runner.os }}-swiftpm-${{ matrix.swift }}-${{ hashFiles('**/Package.resolved') }}
          restore-keys: ${{ runner.os }}-swiftpm-${{ matrix.swift }}-

      - name: Install Solana CLI
        env:
          SOLANA_VERSION: ${{ env.SOLANA_VERSION }}
        run: ./.scripts/install_solana.sh

      - name: Resolve Dependencies
        run: swift package resolve

      - name: Build
        run: swift build --build-tests

      - name: Run Tests
        run: swift test --parallel --enable-swift-testing
